html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html,body{
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  min-height: 100vh;
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.header-main{
  position: absolute;
  z-index: 5;
  left: 0;
  right: 0;
}

.container {
  max-width: 1240px;
  padding: 0 10px;
  margin: 0 auto;
}


.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu{
  display: flex;
  gap: 50px;
  position: relative;
}

.menu-item a{
  font-size: 16px;
  color: #fff;
  line-height: 20px;
  letter-spacing: 0.6px;
  text-decoration: none;
  transition: all 0.5s;
}

.menu-item a:hover{
  color: #ff3333;
}

.adress{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.from{
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.6px;
  text-align: center;
  position: relative;
}

.from::before{
  content: url(../images/adress.png);
  position: absolute;
  left: -25px;
  bottom: -3px;
}

.phone-number{
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.6px;
  transition: all 0.5s;
  position: relative;
}

.phone-number::before {
  content: url(../images/tell.png);
  position: absolute;
  left: -25px;
  bottom: -7px;
}


  
.phone-number:hover {
  color: #ff3333;
}

.promo{
  position: absolute;
  z-index: 4;
  left: 0;
  right: 0;
  padding-top: 305px;
}

.promo__info{
  text-align: center;
}

.promo__title{
  color: rgb(255, 255, 255);
  font-size: 50px;
  letter-spacing: 0.5px;
  line-height: 70px;
  font-weight: 600;
}

.promo__title span{
  color: #f12525;
  font-style: italic;
}

.promo__list{
  display: inline-block;
  text-align: center;
  padding-top: 80px;
}

.list{
  text-align: left;
  margin: 15px 0;
  color: rgb(255, 255, 255);
  font-weight: 300;
  letter-spacing: 0.5px;
  font-size: 23px;
  line-height: 1.55;
  font-style: italic;
  position: relative;
}

.list::before{
  content: url(../images/circle.png);
  position: absolute;
  left: -30px;
  top: 3px;
}

.swiper-slide{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.swiper-pagination-bullet {
  width: 120px;
  height: 3px;
  background-color: #f12525;
  border-radius: 0;
  opacity: 1;
}
.swiper-pagination-bullet-active{
  height: 6px;
  background-color: black;
}

.swiper-pagination-bullets.swiper-pagination-horizontal
{
bottom: 20px;
}

.info{
  background-color: #101010;
}

.header__info{
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 360px;
  gap: 100px;
}

.info__img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.info__content{
  padding: 150px 0;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.info__title{
  color: rgb(255, 255, 255);
  font-size: 23px;
  font-weight: 700;
  line-height: 1.55;
  letter-spacing: 0.5px;
}

.info__text{
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.5px;
  font-size: 20px;
  line-height: 1.55;
}


.about__title{
  color: rgb(255, 255, 255);
  font-size: 23px;
  font-weight: 700;
  line-height: 1.55;
  letter-spacing: 0.5px;
}

.about__img{
  position: absolute;
  z-index: 4;
  left: 0;
  right: 0;
  width: 100%;
  min-height: 1280px;
  object-fit: cover;
}

.about__content{
  display: flex;
  gap: 250px;
  padding: 100px 0;
  position: relative;
  z-index: 5;
  left: 0;
  right: 0;
}

.about__p{
  max-width: 600px;
}

.about__title{
  font-size: 36px;
  line-height: 1.2;
}

.about__title span{
  padding-left: 180px;
  font-style: italic;
  color: #f12525;
}

.about__text-info{
  margin-top: 50px;
}

.about__text{
  margin: 20px 0;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.5px;
  font-size: 20px;
  line-height: 1.55;
}

.bar{
  min-width: 370px;
  height: 700px;
  background-color: #111;
}

.about__bar{
  padding: 50px 40px 0 40px;
  
}

.about__bar-title{
  color: rgb(255, 255, 255);
  font-size: 43px;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
}

.about__bar-text{
  margin: 30px 0;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.5px;
  font-size: 20px;
  line-height: 1.55;
  position: relative;
}

.about__bar-text::after{
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -14px;
  border-top: 1px solid #ededed;
  border-top-color: rgba(255, 255, 255, .2);
}

.card-text{
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.5px;
  font-size: 20px;
  line-height: 1.55;
  opacity: 0.88;
}

.card-text span{
  display: flex;
  justify-content: flex-end;
  font-style: italic;
  position: relative;
}

.card-text span::before{
  content: "";
  height: 3px;
  width: 40px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 355px;
  bottom: 15px;
  opacity: 0.77;

}


.tarrif{
  background-color: #101010;
}

.tarrif__inner{
  padding-bottom: 100px;
}

.tariff__content{
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}

.tariff__title{
  display: flex;
  justify-content: center;
  line-height: 1.2;
  padding: 420px 0 50px 0;
  color: rgb(255, 255, 255);
  font-size: 50px;
  letter-spacing: 0.5px;
  line-height: 70px;
  font-weight: 600;
}

.table{
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.5px;
  font-size: 20px;
  line-height: 1.55;
}


.th{
  font-size: 27px;
  min-width: 300px;
  padding-bottom: 30px;
  
}

.td{
  padding: 0 20px;
  text-align: center;
  border-right: 1px solid rgba(255, 255, 255, .2);;
  border-left: 1px solid rgba(255, 255, 255, .2);;
  font-size: 20px;
}

.track{
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
  opacity: 0.9;
}

.track__title{
  font-size: 36px;
  line-height: 1.2;
  color: #f12525;
  font-style: italic;
}

.track__img{
  width: 100%;
  object-fit: cover;
}

.price__cars{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}

.cars-img{
  margin-bottom: 30px;
  width: 100%;
  object-fit: cover;
}

.cars__title{
  color: rgb(255, 255, 255);
  font-size: 24px;
}

.cars__text{
  margin: 20px 0;
  color: rgb(255, 255, 255);
  font-size: 17px;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 1.55;
}

.price__car{
  font-style: italic;
}

.reviews{
  padding: 100px 0;
  color: rgb(255, 255, 255);
}

.reviews{
  background-color: #101010;
  color: rgb(255, 255, 255);;
}

.reviews__title{
  display: flex;
  justify-content: center;
  line-height: 1.2;
  font-size: 50px;
  line-height: 70px;
  font-weight: 600;
  margin-bottom: 70px;
}

.reviews__item{
  border: 1px solid rgba(255, 255, 255, .2);
  padding: 45px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 400px;
  width: 270px;
  text-align: center;
}

.reviews__item-title{
  font-size: 24px;
}

.reviews__item-text{
  color: rgb(255, 255, 255);
  font-size: 17px;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 1.55;
  margin-top: 30px;
}

.reviews__slider .slick-dots button{
  color: rgb(255, 255, 255);

}

.slick-dots button{
  font-size: 0;
  width: 8px;
  height: 8px;
  border: none;
  border-radius: 50%;
  padding: 0;
}

.reviews__slider .slick-dots{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

.reviews__slider button{
  margin: 0 5px;
  line-height: 12px;
}

.blog{
  padding: 100px 0;
  background-color: rgb(250 248 248);
}

.blog__content{
  margin: 0 auto;
  color: #101010
}

.blog__title{
  display: flex;
  justify-content: center;
  font-size: 50px;
  line-height: 70px;
  font-weight: 600;
  color: #101010;
  margin-bottom: 70px;
}



.blog__items{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  gap: 100px;
}

.blog__item{
  max-width: 480px;
}

.blog__info{
  max-width: 480px;
  height: 135px;
}

.blog__link-title{
  font-size: 21px;
  color: #101010;
}

.blog__link-text{
  color: rgb(53, 51, 51);
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.5px;
  margin-top: 20px;
  font-style: italic;
}

.blog__link-img{
  border: 1px solid;
  border-color: rgb(132 113 113);
  max-width: 480px;
  
}


.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
}

.popup:target{
  opacity: 1;
  visibility: visible;
}

.popup__body{
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}

.popup__content{
  background-color: #fff;
  color: #101010;
  max-width: 800px;
  padding: 30px;
  position: relative;
}

.popup__close{
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  color: #111;
  text-decoration: none;
}

.popup__title{
  font-size: 50px;
  line-height: 70px;
  font-weight: 600;
  margin: 0px 0px 1em 0px;
}

.popup__img{
  width: 740px;
}

.popup__text{
  margin-top: 20px;
  color: rgb(0, 0, 0);
  font-size: 17px;
  font-weight: 300;
  line-height: 1.55;
}

.popup__area{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.contacts{
  padding: 50px 0;
  background-color: rgb(250 248 248);
}

.contacts__content{
display: flex;
justify-content: space-between;
}

.contacts__info{
  display: flex;
  flex-direction: column;
}

.contacts__title{
  display: flex;
  justify-content: center;
  font-size: 50px;
  line-height: 70px;
  font-weight: 600;
  color: #101010;
  margin-bottom: 70px;
}
  
.contacts__content-title{
  font-size: 25px;
  font-weight: 300;
  color: #101010;
}

.contacts__content-address{
  color: rgb(53, 51, 51);
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.5px;
  margin: 20px 0;
  font-style: italic;
}

.contacts__content-img{
  border: 1px solid;
  border-color: rgb(132 113 113 / 20%);
}

.contacts__form{
  min-width: 400px;

}

.input{
  display: flex;
  flex-direction: column;
}

.contacts__input{
  border: none;
  border-bottom: 2px solid #000;
  background-color: transparent;
}

.phone-ctn{
  color: rgb(53, 51, 51);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.6px;
  margin-bottom: 10px;
}

.contacts__phone{
  color: rgb(53, 51, 51);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.6px;
  transition: all 0.5s;
  font-style: italic;
}

.contacts__input::placeholder{
  font-style: italic;
}

.contacts__input-tell::placeholder {
  font-style: italic;
}

.contacts__input-tell{
  border: none;
  border-bottom: 2px solid #000;
  background-color: transparent;
}

.contacts__form-title{
  font-size: 25px;
  font-weight: 300;
  color: #101010;
  text-align: center;
  padding-top: 150px;
  padding-bottom: 50px;
}
.contacts__input-tell{
  margin: 20px 0;
}

.btn{
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.contacts__btn{
  font-family: "Roboto" sans-serif;
  font-weight: 400;
  font-size: 15px;
  padding: 15px 35px;
  background-color: #111;
  border: none;
  color: #ededed;
  cursor: pointer;
}

.footer{
  background-color: #111;
}

.footer__menu{
  display: flex;
  justify-content: space-between;

}

.menu__social-link{
  display: flex;
  align-items: center;
  gap: 20px;

}

.politic{
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: 17px;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 1.55;
}

.footer__logo{
margin-left: 117px;
  
}

.menu-btn{
  display: none;
}


/* ----------------Adaptive----------------- */

@media (max-width:1250px){
  .card-text span::before{
    display: none;
  }

  .about__title span {
    padding-left: 0px;
  }

  .br-two {
    display: none;
  }

}

@media (max-width:1200px){
  .about__title {
    font-size: 30px;
    line-height: normal;
    text-align: center;
  }
  
  .about__text {
    letter-spacing: normal;
    font-size: 18px;
    line-height: 1.55;
  }
  
  .card-text {
    font-size: 16px;
  }

  .about__content {
    gap: 170px;
  }
}

@media (max-width:1110px){
  .reviews__item-text {
    font-size: 15px;
  }
}

@media (max-width:1070px) {
  .promo__title {
    font-size: 42px;
  }

  .list {
    font-size: 20px;
  }

  .swiper-pagination-bullet {
    width: 95px;
  }

  .table {
    font-size: 16px;
  }

  .tariff__title {
    padding: 360px 0 50px 0;
    font-size: 45px;
  }

  .contacts__content {
    display: flex;
    justify-contenspace-evenly;
    align-items: center;
  }
    
  .contacts__form {
    min-width: 300px;
  }
}

@media (max-width:1030px) {
  .from::before {
      display: none;
  }
  
  .phone-number::before {
      display: none;
  }

  .td{
    font-size: 16px;
  }


}

@media (max-width:1000px) {
  .from{
    display: none;
  }

  .phone-number{
    display: none;
  }

  .header__info {
    gap: 60px;
  }

  .info__title {
    font-size: 20px;
  }

  .info__text {
    font-size: 19px;
  }

  .contacts__content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .contacts__form {
    min-width: 200px;
  }
  

}

@media (max-width:940px) {
  .about__content {
    gap: 100px;
  }

  .th {
    font-size: 24px;
    min-width: 200px;
  }

  .td {
    padding: 0 10px;
  }

  .reviews__item-text {
    font-size: 14px;
  }

  .reviews__title {
    font-size: 35px;
  }

  .blog__title {
    font-size: 35px;
  }

  .contacts__title {
    font-size: 35px;
  }

  .contacts__content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }
  
}

@media (max-width:900px) {
  .info__content {
    padding: 120px 0;
    gap: 10px;
  }

  .price__cars {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
}

@media (max-width:870px) {
  .menu-item a{
    font-size: 15px;
  }
  
  .promo__title {
    font-size: 37px;
  }
  
  .swiper-pagination-bullet {
    width: 85px;
  }

  .about__content {
    gap: 20px;
  }

  .about__bar-title {
    font-size: 30px;
  }

  .about__bar-text {
    font-size: 20px;

  }

  .bar {
    min-width: 350px;
    height: 660px;
  }

  .popup__content {
    max-width: 320px;
  }

  .popup__title {
    font-size: 12px;
    line-height: normal;
  }

  .popup__img {
    width: 250px;
  }

  .popup__text {
    font-size: 14px;
  }
}


@media (max-width:770px) {
  .promo__title {
    font-size: 33px;
  }
  
  .menu {
    gap: 35px;
  }

  .header__info {
    max-width: 305px;
    gap: 30px;
  }

  .info__title {
    font-size: 17px;
  }

  .info__text {
    font-size: 16px;
  }

  .about__content {
    display: flex;
    padding: 100px 0;
    flex-direction: column;
    align-items: center;
  }

  .bar {
    height: 610px;
  }

  .br-two {
    display: inline-block;
  }

  .about__title {
    text-align: center;
  }

  .about__bar {
    padding: 25px 40px 0 40px;
  }
    
  .bar {
    height: 547px;
  }

  .about__content {
    padding: 45px 0;
  }

  .tariff__title {
    padding: 90px 0 50px 0;
  }

  .politic {
    font-size: 12px;
    text-align: center;
  }

  .footer__logo {
    margin-left: 40px;
  }

  .link__img{
    width: 100%;
    object-fit: cover;
  }
  
}

@media (max-width:690px) {
  .promo__title {
    font-size: 28px;
  }

  .header__info {
    max-width: 230px;
  }

  .menu {
    gap: 25px;
  }

  .list {
    font-size: 18px;
  }

  .about__title {
    margin-top: 10px;
    font-size: 25px;
  }

  .about__text {
    font-size: 16px;
  }

  .about__content {
    padding: 0;
  }


  .about__bar-title {
    font-size: 25px;
  }

  .about__bar-text {
    font-size: 15px;
  }

  .bar {
    height: 520px;
    object-fit: cover;
  }

  .about__p {
    max-width: 460px;
  }

  .tariff__title {
    font-size: 40px;
  }

  .th {
    font-size: 20px;
  }

  .cars__title {
    font-size: 20px;
  }

  .cars__text {
    font-size: 15px;
  }
            

}


@media (max-width:625px) {
  .menu-btn{
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: transparent;
    order: 1;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 50;
    margin-right: 25px;
  }

  .logo{
    position: relative;
    z-index: 50;
  }

  .btn-line{
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #ededed;
    height: 2px;
    transition: .3s ease;
  }

  .btn-line:nth-child(1){
    top: 0;
  }
  .btn-line:nth-child(2){
    top: 20px;
  }

  .btn-line:nth-child(3){
    top: 20px;
  }

  .btn-line:nth-child(4){
    top: 40px;
  }

  .menu-open .btn-line:nth-child(1){
    transform: scaleX(0);
  }
  .menu-open .btn-line:nth-child(2){
    transform: rotate(45deg);
  }
  .menu-open .btn-line:nth-child(3){
    transform: rotate(-45deg);
  }
  .menu-open .btn-line:nth-child(4){
    transform: scaleX(0);
  }

  .menu{
    position: absolute;
    top: 0px;
    bottom: 20px;
    right: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    transform: translateY(-200%);
  }

  .menu-open .menu{
    transform: translateY(95%);
  }

  .menu-item a{
    font-size: 18px;
  }

  .promo {
  padding-top: 350px;
  }

  .swiper-slide{
    background-position: 80%;
  }

  .info__content {
    padding: 50px 0;
    gap: 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  .header__info {
    margin-top: 10px;
    max-width: 100%;
  }

  .td {
    font-size: 13px;
  }

  .th {
    min-width: 110px;
  }

  .contacts__content-img{
    width: 100%;
    object-fit: cover;
  }
}

@media (max-width:580px){
  .promo__title{
  font-size: 25px;
  line-height: 60px;
  letter-spacing: normal;
  }
  .menu-item a {
  font-size: 15px;
  line-height: 0;
  letter-spacing: normal;
  }
  .menu {
    gap: 20px;
  }
  .menu-btn {
    margin-right: 15px;
  }

  .footer__logo {
    margin-left: 0px;
  }

  .menu__social-link {
    gap: 10px;
  }
}

@media (max-width:515px){
  .promo__title {
  font-size: 22px;
  line-height: 60px;
  letter-spacing: normal;
  }

  .br {
  display: none;
  }

  .list{
  margin: 10px 0;
  letter-spacing: normal;
  }

  .promo__list{
  padding-top: 55px;
  }

  .swiper-pagination-bullet{
    width: 75px;
  }

  .promo {
    padding-top: 300px;
  }

  .th {
    font-size: 17px;
    min-width: 95px
  }

  .blog__info {
    max-width: 307px;
    height: 185px;
  }
  
  .blog__link-img {
    max-width: 300px;
  }

  .blog__link-title {
    font-size: 18px;
  }

  .footer__logo {
    width: 140px;
  }                

}

@media (max-width:450px){
  .header__logo{
    width: 80%;
  }
  .about__text-info {
    margin-top: 0px;
  }
}

@media (max-width:420px) {
  .swiper-pagination-bullet {
    width: 50px;
  }
}

@media (max-width:400px) {
  .list {
    font-size: 14px;
  }

  .list::before{
    top: -2px;
  }

  .promo__list {
    padding-top: 30px;
  }

  .about__title {
    font-size: 20px;
  }

  .about__text {
    margin: 12px 0;
  }

  .th {
    font-size: 13px;
    min-width: 80px;
  }

  .social__link {
    display: none;
  }

}

@media (max-width:375px) {
  .about__bar {
    padding: 20px 60px 0 60px;
  }
  
  .about__bar-text {
    margin: 20px 0;
  }

  .bar {
    min-width: 340px;
    height: 450px;
  }
}

@media (max-width:355px){
  .about__bar-title {
    font-size: 20px;
  }
  
  .about__bar-text {
    font-size: 14px;
  }

  .bar {
    min-width: 320px;
    height: 420px;
  }

  .card-text {
    display: none;
  }

  .bar {
    min-width: 302px;
    height: 500px;
  }

  .about__bar {
    padding: 20px 70px 0 70px;
  }
}

@media (max-width:321px){
  .list {
    display: none;
  }

  .promo {
    padding-top: 240px;
  }
}